.container {
  /* !Img fill */
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: url(https://w3ndig0u0.github.io/Deranged/Image/holy.gif) center
    center repeat;

  /* !Undraggable */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#title {
  position: relative;
  font-size: 12vh;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 8px;
}

.navigation {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #fff;
  border-top: solid 1px #fff;
  background: #000;
}

a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 32px;
  margin-left: 7vw;
  margin-right: 7vw;
  text-align: center;
}
