@font-face {
  /* !Custom Font */
  font-family: "Child Writing";
  src: url("Fonts/ChildWriting-Regular.woff2") format("woff2"),
    url("Fonts/ChildWriting-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  /* !Undraggable */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body,
html {
  background-color: black;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Child Writing";
}

audio #playAudio {
  z-index: 100000;
  position: absolute;
  top: 50%;
  size: 1000px;
  color: white;
}

main {
  position: relative;
  height: 100%;
}

button {
  position: fixed;
  z-index: 9;
  top: 45%;
  left: 45%;
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
